@import url('https://fonts.googleapis.com/css?family=Vidaloka');

.cart-body{
    /* width: 100%; */
    height: 89vh;
    padding-left: 8%;
    padding-top: 4%;
    padding-right: 8%;
    /* background: red */
}

.above-items{
    border-bottom: solid black 1px;
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    /* background: green; */
}

.my-bag{
    font-size: 40px;
    font-family: 'Vidaloka', serif;
}

.checkout-button{
    display: flex;
    justify-content: center;
    width: 18%;
    height: 70%;
    margin-left: 71%;
    font-family: 'Vidaloka', serif;
    color: white;
    font-size: 14px;
    background-color: #011F5D
}

.stripe-button-el {
    display: flex;
    justify-content: center;
    width: 18%;
    height: 70%;
    margin-left: 71%;
    font-family: 'Vidaloka', serif;
    color: white;
    font-size: 14px;
    background-color: #011F5D
}

.top-info{
    display: flex;
    align-items: center;
    margin-top: 1%;
    width: 100%;
    height: 5vh;
    background-color: #F7F7F7;
    font-family: 'Vidaloka', serif;
}

.product-text{
    font-weight: bold;
    font-size: 12px;
    margin-left: 1.5%
}

.quanity-text{
    font-weight: bold;
    font-size: 12px;
    margin-left: 40%
}

.price-text{
    font-weight: bold;
    font-size: 12px;
    margin-left: 18%
}

.total-text{
    font-weight: bold;
    font-size: 12px;
    margin-left: 22%
}

.other-info{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 30vh;
    border-bottom: solid black 1px;
}

.cart-image{
    /* background: green; */
    width: 20%;
    height: 100%;
}

.cart-item-info{
    width: 15%;
    height: 100%;
    /* background: red; */
    font-family: 'Vidaloka', serif;
}

.qty-div{
    margin-left: 10%;
    width: 8%;
    height: 100%;
    /* background: yellow */
}

/* the selector */
.css-vj8t7z{  
    margin-top: 25%
}

/* .remove{
    margin-top: 100px;
    color: red
} */

.item-price-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-left: 10.2%;
    width: 8%;
    height: 100%;
    /* background: yellow; */
}

.item-price-in-div{
    margin-top: 25%;
    font-family: 'Vidaloka', serif;
    font-weight: bold;
    font-size: 15px;
    height: 10%;
}

.remove-item{
    margin-top: 25%;
    margin-left: 8%;
    border: none;
    width: 80%;
    height: 10%;
    font-family: 'Vidaloka', serif;
    font-size: 16px;
    color: #011F5D;
    text-decoration: green
}

.total{
    display: flex;
    align-items: center;
    font-family: 'Vidaloka', serif;
    height: 50%;
    margin-left: 21%;
}

